@import "../partials/abstract/functions";
@import "../partials/abstract/theme";
@import "../partials/sections/navBar";
@import "../partials/pages/indexPage/searchWrapper";
@import "../partials/pages/indexPage/workWrapper";
@import "../partials/pages/indexPage/doctorWrapper";
@import "../partials/pages/indexPage/treatmentWrapper";
@import "../partials/pages/indexPage/serviceWrapper";
@import "../partials/sections/query";
@import "../partials/sections/footer";
@import "../partials/sections/hero";
@import "../partials/sections/menu";
@import "../partials/pages/content";
@import "../partials/pages/treatmentPage";
@import "../partials/pages/formContainer";
@import "../partials/pages/contact";
@import "../partials/pages/about";
@import "../partials/pages/profile";
@import "../partials/pages/faq";
@import "../partials/pages/tvastraPlus";
@import "../partials/sections/toaster";