.formContainer {
  padding: 7rem 1rem;
  text-align: center;
  background-color: $lightSkyBlue;
  form {
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem grey;
    h1 {
      border-bottom: 0.08rem solid $lightGrey;
      padding: 1.5rem;
      margin: 0;
      color: $lightBlue;
    }
    .allInputs {
      padding: 1rem;
      display: grid;
      grid-template-columns: auto;
      row-gap: 0.3rem;
      text-align: left;
      .inputContainer {
        input,
        select {
          border: 0.1rem solid $lightGrey;
          padding: 0.8rem;
          font-family: nexa-light;
          &::placeholder {
            font-family: nexa-bold;
          }
        }
        select {
          font-size: 1rem;
          color: silver;
          font-family: nexa-bold;
          option {
            color: silver;
          }
        }
        position: relative;
        i {
          position: absolute;
          right: 1rem;
          top: 0.8rem;
          color: grey;
          font-size: 1.4rem;
        }
        .showPassword {
          i {
            color: $lightBlue;
          }
          .enabled {
            display: block;
          }
          .disabled {
            display: none;
          }
        }
      }
      .appointmentTxtareaContainer,
      .queryTxtareaContainer {
        textarea {
          border: 0.1rem solid $lightGrey;
        }
      }
      .addr {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 0.5rem;
      }
      .linkContainer {
        display: flex;
        justify-content: space-between;
        span {
          a {
            color: $lightBlue;
            font-family: nexa-bold;
          }
        }
      }
      .btnContainer {
        .btn {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0.2rem 1rem 0.2rem 40%;
          span,
          i {
            color: white;
            align-self: center;
            letter-spacing: 0.1rem;
          }
          span {
            font-family: nexa-bold;
          }
        }
      }

      .item {
        h3 {
          margin: 1rem 0 0.7rem 0;
        }
        .radioContainer {
          display: grid;
          grid-template-columns: 1rem auto;
          column-gap: 0.5rem;
          row-gap: 0.8rem;
        }
        .fileContainer {
          input {
            border: 0;
            padding: 0;
          }
        }
        .btnContainer {
          text-align: center;
          button {
            display: inline-flex;
            padding: 0rem 1rem;
            justify-content: center;
            span {
              letter-spacing: 0.3rem;
            }
            i {
              margin-left: 1rem;
            }
          }
        }
      }
    }
    .txt {
      font-family: nexa-bold;
      color: grey;
      padding: 1rem;
      margin: 0;

      a {
        color: $lightBlue;
        font-family: nexa-bold;
      }
    }
  }
}
.signup,
.appointment,
.query {
  padding: 2rem 1rem;
}

@media only screen and (min-width: 768px) {
  .formContainer {
    padding: 20%;
  }
  .signup,
  .appointment,
  .query {
    padding: 3rem 20%;
  }
}

@media only screen and (min-width: 1024px) {
  .formContainer {
    padding: 10% 35%;
    form {
      h1 {
        font-size: 2.3rem;
      }
    }
  }
  .signup,
  .appointment {
    padding: 4rem 35%;
  }
  .query {
    padding: 4rem 15rem;
    form {
      .allInputs {
        .btnContainer {
          .btn {
            padding-right: 3rem;
          }
        }
      }
    }
  }
}
